@import url("colors.css");

footer {
    display: flex;
    flex-direction: row;
    background-color: var(--footer-background);
    color: var(--footer-color);
    justify-content: center;
    padding: 0.5rem;
}

footer a {
    color: var(--link-color);
}